Source: ros-jazzy-proto2ros
Section: misc
Priority: optional
Maintainer: Robotics and AI Institute LLC dba RAI Institute <opensource@theaiinstitute.com>
Build-Depends: debhelper (>= 9.0.0), clang-tidy, libprotobuf-dev, libprotobuf32t64, libprotoc-dev, protobuf-compiler, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-pytest <!nocheck>, ros-jazzy-ament-cmake-python, ros-jazzy-builtin-interfaces, ros-jazzy-rclcpp, ros-jazzy-rosidl-default-generators, ros-jazzy-std-msgs, ros-jazzy-ros-workspace, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/proto2ros/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-proto2ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libprotobuf-dev, libprotobuf32t64, libprotoc-dev, protobuf-compiler, python3-inflection, python3-jinja2, python3-multipledispatch, python3-networkx, python3-numpy, python3-protobuf, python3-yaml, ros-jazzy-ament-cmake-mypy, ros-jazzy-builtin-interfaces, ros-jazzy-rclcpp, ros-jazzy-rclpy, ros-jazzy-rosidl-adapter, ros-jazzy-rosidl-default-generators, ros-jazzy-rosidl-default-runtime, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: Protobuf to ROS 2 interoperability interfaces
